<div class="sub_div_beers">
    <div class="card_beers">
        <img id="beers_image" src={{image_url}} alt={{name}} height="150px"/>
        <h1 id="beers_title">{{name}}</h1>
        <p id="beers_tagline">{{tagline}}</p>
        <p id="beers_description">{{description}}</p>
    </div>
</div>