    <div class="card_beers">
        <h1 id="beers_title">{{name}}</h1>
        <p id="beers_tagline">{{tagline}}</p>
        <img id="beers_image" src={{image_url}} alt={{name}} height="100px"/>
        <p id="beers_description">{{description}}</p>
    </div>
    